.board {
    /*display: flex;*/
    /*flex-flow: column;*/
    display: inline-block;
}

.row {
    /*flex: 1;*/
    /*display: flex;*/
}

.odd > .even, .even > .odd {
    background-color: gray;
}

.cell {
    /*flex: 1;*/
    border: 1px solid black;
    height: 80px;
    width: 80px;
    display: table-cell;
}

.red-pawn {
    height: 50px;
    width: 50px;
    background-color: red;
    border: 2px solid red;
    box-sizing: border-box;
    border-radius: 100%;
    margin: 10px;
}

.white-pawn {
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    border: 2px solid red;
    box-sizing: border-box;
    border-radius: 100%;
    margin: 10px;
}

.dead-pawns {
    border: 1px solid black;
    display: inline-block;
    width: 230px;
    height: 650px;
}

#white-dead {
    width: auto;
    border: 1px solid green;
    height: 47%;
    margin: 10px;
}

#red-dead {
    width: auto;
    border: 1px solid #F44336;
    height: 47%;
    margin: 10px;
}